*{
    box-sizing: border-box;
}

.task-1 div{
    height: 100px;
    width: 100px;
    margin: 10px auto;
    background-color: #eeeeee;
    color: #ff5722;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    box-shadow: #03a9f4 -5px 0px, #ff5722 5px 0px;
}

.task-2 .parent{
    width: 600px;
    height: 300px;
    margin: 10px auto;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;

}
.task-2 .parent div{
    background-color: red;
    color: white;
    height: 50px;
    width: calc(90%/3);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-3 .parent{
    margin: 10px auto;
    display: flex;
    background-color: #eeeeee;
    width: 600px;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.task-3 .parent div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #607d8b;
    color: white;
    width: calc(95%/3);
    height: calc(95%/2);
}

.task-3 .parent .one{
    order: 6;
    
    height: 50px !important; 
}
.task-3 .parent .two{
    order: 4;
}
.task-3 .parent .three{
    order: 3;
    height: 50px !important; 
}
.task-3 .parent .four{
    order: 5;
}
.task-3 .parent .five{
    order: 2;
}
.task-3 .parent .six{
    order: 1;
}

.task-4 .parent{
    margin: 10px auto;
    display: flex;
    background-color: #eeeeee;
    width: 600px;
    height: 300px;
    flex-direction: column;
    padding: 10px;
}
.task-4 .parent div{
    background-color: #009688;
    color: white;
    height: calc(95%/3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-4 .parent .one{
    align-self: flex-end;
    width: 40px;
}
.task-4 .parent .two{
    align-self: flex-start;
    width: 300px;
}
.task-4 .parent .three{
    align-self: flex-end;
    width: 40px;
}

.task-5{
    width: 600px;
    height: 300px;
    background-color: #eeeeee;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 200px;
    padding: 20px;
}

.task-5 div{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: calc(100% /2);
}
.task-5 .one{
    margin-left: 150px;
    background-color: #ff9800;
}
.task-5 .two{
    background-color: #795548;
}
.task-5 .three{
    background-color: #673ab7;
}
.task-5 .four{
    background-color: #8bc34a;
}




.task-6{
    margin: 10px auto;
    width: 600px;
    height: 300px;
    background-color: #eeeeee;
    padding: 10px;
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.nav{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #ddd;
    justify-content: space-between;
    align-items: center;
    
}
.links div, .content div{
    display: inline-block;
}
.footer p{
    display: inline;
}