
.assign-1-shape-1{
    width: 500px;
    padding: 20px;
    background-color: blueviolet;
    margin: 20px;
}
.assign-1-shape-2{
    width: 500px;
    padding: 20px;
    background-color: rgb(138 43 226 / 50%);
    margin: 20px;
}
.assign-1-shape-3{
    width: 500px;
    padding: 20px;
    background-color: #8A2BE2;
    margin: 20px;
}

.assign-2-shape-1, .assign-2-shape-2, .assign-2-shape-3, .assign-2-shape-4{
    width: 400px;
    height: 400px;
    margin: 20px;
    background-image: url("source/css-assignment-5-8.png");
}

.assign-2-shape-1{
    background-repeat: no-repeat;
}
.assign-2-shape-2{
    background-repeat: repeat-y;
}
.assign-2-shape-3{
    background-repeat: repeat-y;
}
.assign-2-shape-4{
    background-repeat: repeat;
}

.assign-3-shape-1, .assign-3-shape-2, .assign-3-shape-3, .assign-3-shape-4{
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: #8A2BE2;
    background-image: url("source/css-assignment-5-8.png");
}

.assign-3-shape-1{
    background-repeat: no-repeat;
}
.assign-3-shape-2{
    background-repeat: repeat-y;
    background-position: right;
}
.assign-3-shape-3{
    background-position: bottom;
    background-repeat: repeat-x;
}

.assign-4-shape-1, .assign-4-shape-2, .assign-4-shape-3, .assign-4-shape-4{
    width: 400px;
    height: 400px;
    margin: 20px;
    background-image: url("source/css-assignment-5-8.png");
    background-color: red;
}

.assign-4-shape-1{
    background-size: 80%;
    background-repeat: no-repeat;
}
.assign-4-shape-2{
    background-size: 80% 100%;
    background-position: right;
    background-repeat: no-repeat;
}
.assign-4-shape-3{
    background-size: 100% 80%;
    background-position: bottom;
    background-repeat: no-repeat;
}
.assign-4-shape-4{
    background-size: 50% 50%;
    background-position: right bottom;
    background-repeat: no-repeat;
}