:root {
  --font-sans: "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --height: 100px;
  --width: 150px;
}
body {
  font-family: var(--font-sans);
}
*{
    box-sizing: border-box;
}

.task-1 {
    width: var(--width);
    height: var(--height);
    margin: 10px auto;
}
.task-1 .elzero{
    width: var(--width);
    height: var(--height);
    background-color: #ff5722;
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: white;
}
.task-1 .elzero::before{
    position: absolute;
    z-index: -1;
    width: var(--width);
    height: var(--height);
    content: '';
    background-color: #ff5722;
    top: 0;
    transform: skew(15deg, 5deg);
    -webkit-transform: skew(15deg, 5deg);
    -moz-transform: skew(15deg, 5deg);
    -ms-transform: skew(15deg, 5deg);
    -o-transform: skew(15deg, 5deg);
}
.task-1 .elzero::after{
    position: absolute;
    z-index: -1;
    width: var(--width);
    height: var(--height);
    bottom: 0;
    content: '';
    background-color: #ff5722;
    transform: skew(-15deg, -5deg);
    -webkit-transform: skew(-15deg, -5deg);
    -moz-transform: skew(-15deg, -5deg);
    -ms-transform: skew(-15deg, -5deg);
    -o-transform: skew(-15deg, -5deg);
}

.task-2{
    width: var(--width);
    height: var(--height);
    margin: 10px auto;
    position: relative;
    margin-bottom: 40px;
}
.task-2 .elzero{
    width: var(--width);
    height: var(--height);
    color: white;
    position: absolute;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-2 .elzero::before{
    position: absolute;
    width: 100px;
    height: 100px;
    content: '';
    background-color: #009688;
    top: 0;
    left: -20px;
    transform: skew(20deg);
    z-index: -1;
}
.task-2 .elzero::after{
    position: absolute;
    width: 20px;
    height: 100px;
    content: '';
    background-color: #009688;
    top: 0;
    left: -50px;
    transform: skew(20deg);
    z-index: -1;
}
/* .class {
  matrix(3, 0.2679, 0, 3, 20, 100);
  a → scale X (horizontal scaling)

b → skew Y

c → skew X

d → scale Y (vertical scaling)

e → translate X (move horizontally)

f → translate Y (move vertically)
} */

.task-3{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}
.task-3 .elzero{
    color: white;
    z-index: 2;
}
.omen{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    top: 0;
    left: 25%;
    transform: rotate(45deg);
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}
.task-3 .elzero{
    position: absolute;
    width: 140px;
    height: 150px;
    top:50px;
    left: 30px;
    background-color: #607d8b;
    display: flex;
    justify-content:start;
    align-items: end;
    padding: 5px;
    z-index: -1;
    border-bottom: 5px solid black;
}

.task-4{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    perspective: 700px;
}
.task-4 .box, .box-1{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease;
}
.front, .back, .back-1{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    backface-visibility: hidden;
}
.front{
    background-color: #e91e63;
    z-index: 1;
}
.back{
    background-color: #03a9f4;
    transform: rotateY(180deg);
}
.box:hover{
    transform: rotateY(180deg);
}
.back-1{
    background-color: #03a9f4;
    transform: rotateX(180deg);
}
.box-1:hover{
    transform: rotateX(180deg);
}