*{
    box-sizing: border-box;
}
:root{
    --width-hight:50px;
}
.task-1{
    width: var(--width-hight);
    height: var(--width-hight);
    margin: 25px auto;
}
.task-1 .loading{
    width: var(--width-hight);
    height: var(--width-hight);
    border-radius: 50%;
    border: 5px solid red;
    border-left-color: transparent;
    position: relative;
}
.task-1 .loading::after{
    position: absolute;
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    content: '';
    top: -12px;
    left: -12px;
    border-radius: 50%;
    border: 5px solid blue;
    border-right-color: transparent;
}
.task-1 .loading::before{
    position: absolute;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    content: '';
    top: -20px;
    left: -20px;
    border-radius: 50%;
    border: 5px solid gold;
    border-top-color: transparent;
}
.task-1 .loading,
.task-1 .loading::before,
.task-1 .loading::after {
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: inherit;
}
.task-1 .loading:hover {
    animation-play-state: paused;
}
@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.task-2{
    width: var(--width-hight);
    height: var(--width-hight);
    margin: 20px auto;
    margin-bottom: 25px;
}
.task-2 .loading{
    width: var(--width-hight);
    height: var(--width-hight);
    border-radius: 50%;
    border: 5px solid red;
    border-bottom-color: transparent;
    position: relative;
}
.task-2 .loading::after{
    position: absolute;
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    content: '';
    top: -12px;
    left: -12px;
    border-radius: 50%;
    border: 5px solid blue;
    border-bottom-color: transparent;
}
.task-2 .loading::before{
    position: absolute;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    content: '';
    top: -20px;
    left: -20px;
    border-radius: 50%;
    border: 5px solid gold;
    border-bottom-color: transparent;
}
.task-2 .loading,
.task-2 .loading::after,
.task-2 .loading::before{
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-play-state:paused;
    animation-timing-function: linear;
}
.task-2 .loading:hover,
.task-2 .loading:hover::before,
.task-2 .loading:hover::after {
  animation-play-state: running;
}
.task-2 .loading{
    animation-duration: 1s;
}
.task-2 .loading::after{
    animation-duration: 3s;
}
.task-2 .loading::before{
    animation-duration: 5s;
}
.task-3{
    width: var(--width-hight);
    height: var(--width-hight);
    margin: 20px auto;
}
.task-3 .loading{
    display: block;
    width: 100%;   
    height: 100%;   
    background-color: #eee;
    border-radius: 50%;
    border: 5px solid black;
    border-bottom-color: transparent;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}