.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.circle-100{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.circle-200{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
:root{
    --width-height: 20px;
}
.task-2{
    margin: 20px;
    width: 200px;
    height: 200px;
}
.arrow{
    background-color: #eee;
    margin: 10px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.top::after{
    content: '';
    position: absolute;
    width: var( --width-height );
    height: var( --width-height );
    background-color: #eee;
    z-index: -1;  
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.right::after{
    content: '';
    position: absolute;
    width: var( --width-height );
    height: var( --width-height );
    background-color: #eee;
    z-index: -1;  
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.left::after{
    content: '';
    position: absolute;
    width: var( --width-height );
    height: var( --width-height );
    background-color: #eee;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}
.bottom::after{
    content: '';
    position: absolute;
    width: var( --width-height );
    height: var( --width-height );
    background-color: #eee;
    z-index: -1;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}