div{
    background-color: gray;
    display: inline-block;
    width: 100px;
    padding: 20px;
    margin: 10px;
    outline: black solid 5px;
}
.shape1{
    border: 5px solid red;
}
.shape2{
    border: 5px solid;
    border-color: blue green;
    
}
.shape3{
    border: 5px dashed;
    border-color: red green blue yellow;
}

.element-element-1, .element-element-2, .element-element-3{
    display: block;
    width: 400px;
}

.element-element-1{
    border-left: solid 5px blue;
}

.element-element-2{
    visibility: hidden;
}

.element-element-3{
    background-color: tomato;
    border-left:solid 5px green;
}