*{
    box-sizing: border-box;
}
.task-1{
    width: 500px;
    margin: 150px auto;
    position: relative;
}
.elzero-lines{
    background-color: #eeeeee;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 30px;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
}
.first{
    width: 420px;
    height: 120px;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
}
.second{
    width: 440px;
    height: 140px;
    background-color: blue;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
}
.third{
    width: 460px;
    height: 160px;
    background-color: green;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
}
.fourth{
    width: 480px;
    height: 180px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
}

.task-4 .input-box{
    background-color: #eeeeee;
    margin: 10px auto;
    width: 250px;
    height: 60px;
    position: relative;
}
.task-4 .input-box input{
    margin-top: 12px;
    padding: 8px;   
}
.task-4 .input-box input:focus{
    outline: none;
    box-shadow: none;
    border-color: transparent;
}
.task-4 .input-box .prefix{
    background-color: #009688;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 35px;
    left: 6px;
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px ;
    padding: 8px;
}

.menu{
    width: 100px;
    height: auto;
    cursor: pointer;
}
.menu span{
    display: block;
    background-color: black;
    width: 80px;
    height: 15px;
    margin: 8px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.menu:hover span:nth-of-type(2){
    transform: translate(-100px,0);
    background-color: red;
    transition: all 0.3s ease-in-out;
}
.menu:hover span:nth-of-type(1){
    background-color: red;
    transform: translate(0,25px) rotate(135deg);
}
.menu:hover span:nth-of-type(3){
    background-color: red;
    transform: translate(0,-20px) rotate(-135deg);
}


.task-6 a{
    text-decoration: none;
    color: black;
}
.task-6 a:not(.url):not(.link){
    color: red;
    font-weight: bold;
}


.task-7{
    margin: 10px auto;
    background-color: #eee;
    width: 400px;
    height: auto;
}
.task-7 ul{
    list-style: none;
    padding: 10px;
    counter-reset: main-counter;
}
.task-7 li{
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    counter-increment: main-counter;
}
.task-7 li:nth-of-type(4){
    background-color: #ddd;
    width: 100%;
    display: inline-block;
}
.task-7 li:nth-of-type(4) li{
    width: 300px;
}
.task-7 ul>li::before{
    content: counter(main-counter);
    font-weight: bold;
    background-color: #ddd;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    margin-right: 10px;
}
.task-7 li:nth-of-type(4)::before{
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.task-7 ul ul li::before{
    background-color: #009688;
    content: "4." counter(main-counter);
}

.task-8{
    margin: 10px auto;
    width: 500px;
    background-color: #eee;
}
.task-8 a{
    background-color: #2196f3;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    display: inline-block;
}
.task-8 a::before{
    content: "Name: " attr(title) " | URL: " attr(href) ;
}

.task-9 .text{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to bottom, red, orange);
    color: transparent; 
    background-clip: text; 
    text-transform:capitalize;
}

.task-10{
    background-color: #009688;
    width: 90vw;
    padding: 10px;
}
.task-10 .container{
    margin: 10px auto;
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8,1fr);
    aspect-ratio: 1 / 1;
    border: 2px black solid;
}
.task-10 .white{
    background-color: white;
}
.task-10 .black{
    background-color: black;   
}

.task-11{
    background-color: #eee;
    margin: 10px auto;
}
.task-11 table th,.task-11 table td{
    border: 2px #ddd solid;
    background-color: white;
    padding: 20px 40px;
    transition: all 0.3s ease-in-out;
}
.task-11 table td:hover{
    border: 2px #2196f3 solid;
    color: #2196f3;
}
.task-11 table tr:hover td{
  background-color: #ddd;
}

.task-12{
    margin: 10px auto;
    background-color: #ddd;
    display: flex;
    justify-content: space-evenly;
}
.task-12 div{
    background-color: white;
    margin-top: 25px;
    padding: 50px 80px;
    border-radius: 10px;
    border: 2px #a49f9f solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.task-12 div button{
    background-color: #2196f3;
    color: white;
    padding: 15px;
    border-radius: 20px;
}
.task-12 div p{
    color: #8c8a88;
    text-transform: capitalize;
}
.task-12 div span:not(.first-word){
    color: #2196f3;
    font-size: 30px;
    font-weight: bold;
}
.task-12 div p .first-word{
    font-weight: bold;
}
.task-12 .box-2::before{
    position: absolute;
    content: 'Most Popular';
    background-color: #2196f3;
    color: white;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.task-13 > div{
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    box-shadow: 1px 1px 10px #545050;
    transition: all 0.5s ease-in-out;
}
.task-13 > div:hover{
    border: #2196f3 3px solid;
}
.task-13{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eee;
}
.task-13 label>span{
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 50px;
}
.task-13 p{
    color: #8c8a88;
}
.task-13 .big-1{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.task-13 .big-2,.task-13>div .second-p .bold{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}
/* if you use firefox there will be problem by using :has(), it's supported by default
         you should type in the search bar about:config
         and type layout.css.has-selector.enabled
         then add it and make it value to true 

.task-13>div:has(input[type="radio"]:checked){
    border: 2px solid #2196f3;
} 
*/
.task-13>div:has(input[type="radio"]:checked){
    border: 2px solid #2196f3;
} 


