*{
    box-sizing: border-box;
}
.task-1{
    width: 500px;
    margin: 150px auto;
    position: relative;
}
.elzero-lines{
    background-color: #eeeeee;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 30px;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
}
.first{
    width: 420px;
    height: 120px;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
}
.second{
    width: 440px;
    height: 140px;
    background-color: blue;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
}
.third{
    width: 460px;
    height: 160px;
    background-color: green;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
}
.fourth{
    width: 480px;
    height: 180px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
}

.task-4 .input-box{
    background-color: #eeeeee;
    margin: 10px auto;
    width: 250px;
    height: 60px;
    position: relative;
}
.task-4 .input-box input{
    margin-top: 12px;
    padding: 8px;   
}
.task-4 .input-box input:focus{
    outline: none;
    box-shadow: none;
    border-color: transparent;
}
.task-4 .input-box .prefix{
    background-color: #009688;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 35px;
    left: 6px;
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px ;
    padding: 8px;
}

.menu{
    width: 100px;
    height: auto;
    cursor: pointer;
}
.menu span{
    display: block;
    background-color: black;
    width: 80px;
    height: 15px;
    margin: 8px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.menu:hover span:nth-of-type(2){
    transform: translate(-100px,0);
    background-color: red;
    transition: all 0.3s ease-in-out;
}
.menu:hover span:nth-of-type(1){
    background-color: red;
    transform: translate(0,25px) rotate(135deg);
}
.menu:hover span:nth-of-type(3){
    background-color: red;
    transform: translate(0,-20px) rotate(-135deg);
}


.task-6 a{
    text-decoration: none;
    color: black;
}
.task-6 a:not(.url):not(.link){
    color: red;
    font-weight: bold;
}


.task-7{
    margin: 10px auto;
    background-color: #eee;
    width: 400px;
    height: auto;
}
.task-7 ul{
    list-style: none;
    padding: 10px;
    counter-reset: main-counter;
}
.task-7 li{
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    counter-increment: main-counter;
}
.task-7 li:nth-of-type(4){
    background-color: #ddd;
    width: 100%;
    display: inline-block;
}
.task-7 li:nth-of-type(4) li{
    width: 300px;
}
.task-7 ul>li::before{
    content: counter(main-counter);
    font-weight: bold;
    background-color: #ddd;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    margin-right: 10px;
}
.task-7 li:nth-of-type(4)::before{
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.task-7 ul ul li::before{
    background-color: #009688;
    content: "4." counter(main-counter);
}

.task-8{
    margin: 10px auto;
    width: 500px;
    background-color: #eee;
}
.task-8 a{
    background-color: #2196f3;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    display: inline-block;
}
.task-8 a::before{
    content: "Name: " attr(title) " | URL: " attr(href) ;
}

.task-9 .text{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to bottom, red, orange);
    color: transparent; 
    background-clip: text; 
    text-transform:capitalize;
}

.task-10{
    background-color: #009688;
    width: 90vw;
    padding: 10px;
}
.task-10 .container{
    margin: 10px auto;
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8,1fr);
    aspect-ratio: 1 / 1;
    border: 2px black solid;
}
.task-10 .white{
    background-color: white;
}
.task-10 .black{
    background-color: black;   
}

.task-11{
    background-color: #eee;
    margin: 10px auto;
}
.task-11 table th,.task-11 table td{
    border: 2px #ddd solid;
    background-color: white;
    padding: 20px 40px;
    transition: all 0.3s ease-in-out;
}
.task-11 table td:hover{
    border: 2px #2196f3 solid;
    color: #2196f3;
}
.task-11 table tr:hover td{
  background-color: #ddd;
}

.task-12{
    margin: 10px auto;
    background-color: #ddd;
    display: flex;
    justify-content: space-evenly;
}
.task-12 div{
    background-color: white;
    margin-top: 25px;
    padding: 50px 80px;
    border-radius: 10px;
    border: 2px #a49f9f solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.task-12 div button{
    background-color: #2196f3;
    color: white;
    padding: 15px;
    border-radius: 20px;
}
.task-12 div p{
    color: #8c8a88;
    text-transform: capitalize;
}
.task-12 div span:not(.first-word){
    color: #2196f3;
    font-size: 30px;
    font-weight: bold;
}
.task-12 div p .first-word{
    font-weight: bold;
}
.task-12 .box-2::before{
    position: absolute;
    content: 'Most Popular';
    background-color: #2196f3;
    color: white;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.task-13 > div{
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    box-shadow: 1px 1px 10px #545050;
    transition: all 0.5s ease-in-out;
}
.task-13 > div:hover{
    border: #2196f3 3px solid;
}
.task-13{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eee;
}
.task-13 label>span{
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 50px;
}
.task-13 p{
    color: #8c8a88;
}
.task-13 .big-1{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.task-13 .big-2,.task-13>div .second-p .bold{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}
/* if you use firefox there will be problem by using :has(), it's supported by default
         you should type in the search bar about:config
         and type layout.css.has-selector.enabled
         then add it and make it value to true 

.task-13>div:has(input[type="radio"]:checked){
    border: 2px solid #2196f3;
} 
*/
.task-13>div:has(input[type="radio"]:checked){
    border: 2px solid #2196f3;
} 

.task-14{
    margin: 80px auto;
    width: 600px;
    height: 350px;
    background-color: #cccccc;
    border-radius: 20px;
    padding: 0;
    position: relative;
}
.task-14 .decoration{
    background-color: #607d8b;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
.task-14 .lens{
    width: 270px;
    height: 270px;
    background-color: #ededed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    box-shadow: 0 0 20px black;
}
.task-14 .lens .lens-1{
    width: 220px;
    height: 220px;
    background-color: #cecece;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.task-14 .lens .lens-2{
    width: 180px;
    height: 180px;
    background-color: #3e3e3e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.task-14 .lens .lens-3{
    width: 120px;
    height: 120px;
    background-color: #358fb6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.task-14 .lens .lens-4{
    width: 35px;
    height: 35px;
    background-color: #68b8db;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%,-130%);
    border-radius: 50%;
}
.task-14 .button{
    position: absolute;
    background-color: #607d8b;
    top: -20px;
    left: 5%;
    width: 80px;
    height: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.task-14 .button .button-1{
    position: absolute;
    background-color: red;
    top: -3px;
    left: 12%;
    width: 60px;
    height: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.task-14 .flash{
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: #607d8b;
    top: -24px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 30px 50px;
    border-top-right-radius: 30px 50px;
}
.task-14 .flash-1{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #cccccc;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.task-14 .flash-2{
    position: absolute;
    width: 35px;
    height: 15px;
    background-color: #607d8b;
    top: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}


.task-15 h2{
    font-size: 70px;
    color: white;
    -webkit-text-stroke: 3px purple;
}


.task-16{
    margin: 20px auto;
    padding: 10px;
    width: 750px;
    background-color: #eeeeee;
}
.task-16 caption{
    padding: 20px;
    font-weight: bold;
    background-color: #cccccc;
    caption-side: bottom;
}
.task-16 td, .task-16 th{
    background-color: white;
    padding: 20px;
}
.task-16 tfoot td:not(:first-of-type){
    background-color: #2196f3;
    color: white;
}
.task-16 tfoot td:first-of-type{
    background-color: yellow;
    font-weight: bold;
    padding-left: 32%;
}
.task-16 thead th{
    background-color: #cccccc;
}


.task-18{
    background-color: #eeeeee;
    width: 300px;
    height: auto;
    padding: 10px;
}
.task-18 li{
    margin-bottom: 3px;
    padding: 20px;
    background-color: white;
    position: relative;
    counter-increment: myCounter 3;
}
.task-18 ul{
    list-style: none;
    padding: 0;
    counter-reset: myCounter 10;
}
.task-18 li::before{
    content: "("counter(myCounter)")";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9c27b0;
    border-radius: 50%;
    color: white;
}
.task-18 li:nth-child(even)::before{
    background-color: red;
}


.task-19{
    margin: 100px auto;
    width: 400px;
}
.task-19 div{
    padding: 30px;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow:
    0 0 0 10px #cddc39,
    0 0 0 20px #e91e63,
    0 0 0 30px #9c27b0,
    0 0 0 40px #4caf50,
    0 0 0 50px #3f51b5,
    0 0 0 60px #795548,
    0 0 0 70px #ffc107,
    0 0 0 80px #009688;
}

.task-20{
    margin: 10px auto;
    width: 300px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -2;
}
.task-20 h1{
    width: 180px;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    position: relative;
}
.task-20 h1::before{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: red 5px solid;
    position: absolute;
    left: -18%;
    top: 31%;
}
.task-20 h1::after{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: red 5px solid;
    position: absolute;
    left: 101%;
    top: 31%;
}
.task-20::after{
    content: '';
    height: 70px;
    width: 190px;
    background-color: red;
    position: absolute;
    z-index: -1;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border-bottom: black 10px solid;
}
.task-20::before{
    content: '';
    height: 70px;
    width: 170px;
    background-color: red;
    position: absolute;
    z-index: -1;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}



.example {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-left: 20px;
  /* Shorten Code in One Line */
  margin: 10px 20px 15px 20px;
}
.task-21{
  background-color: black;
  background-image: url("../imgs/one.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  /* Shorten Code in One Line */
  background: black url("") left top cover no-repeat;

}
.task-21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000;
  /* Shorten Code in One Line */
  border: 1px solid #000;
}
.task-21{
  top: 10px;
  right: 20px;
  bottom: 10px;
  left: 20px;
  /* Shorten Code in One Line */
  inset: 10px 20px 10px 20px;
}
.task-21{
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 10%;
  /* Shorten Code in One Line */
  flex: 3 3 10%;
}
.task-21 {
  flex-direction: column;
  flex-wrap: wrap;
  /* Shorten Code in One Line */
  flex-flow: column wrap;
}


.task-22{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3,100px);
    grid-template-areas: 
    "box-1 box-2 box-3 box-3"
    "box-1 box-4 box-5 box-6"
    "box-7 box-4 box-8 box-8";
    gap: 1em;;
}
.task-22 div {
  background: lightblue;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}
.task-22 .box-1{
    background: url("source/adolf\ rizzler.jpg") center/cover no-repeat;
}
.task-22 .box-2{
    background: url("source/kaka_8.png") center/cover no-repeat;
}
.task-22 .box-3{
    background: url("source/Inosuke.jpg") center/cover no-repeat;
}
.task-22 .box-4{
    background: url("source/Kurabika.jpg") center/cover no-repeat;
}
.task-22 .box-5{
    background: url("source/lego.jpg") center/cover no-repeat;
}
.task-22 .box-6{
    background: url("source/the\ weeknd.jpg") center/cover no-repeat;
}
.task-22 .box-7{
    background: url("source/allah\ akbar.jpg") center/cover no-repeat;
}
.task-22 .box-8{
    background: url("source/dog.jpg") top/cover no-repeat;
}



.task-23{
    margin: 10px auto;
    width: fit-content;
    background-color: #eee;
}
.task-23 .the-grid{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: repeat(14, 20px);
    grid-template-areas: 
    "box-1 box-1 box-2 box-3 box-3"
    "box-1 box-1 box-2 box-3 box-3"
    "box-1 box-1 box-4 box-4 box-4"
    "box-1 box-1 box-4 box-4 box-4"
    "box-5 box-5 box-4 box-4 box-4"
    "box-5 box-5 box-4 box-4 box-4"
    "box-6 box-6 box-6 box-6 box-7"
    "box-6 box-6 box-6 box-6 box-7"
    "box-8 box-9 box-9 box-9 box-10"
    "box-8 box-9 box-9 box-9 box-11"
    "box-8 box-9 box-9 box-9 box-12"
    "box-13 box-13 box-13 box-13 box-13"
    "box-14 box-14 box-15 box-15 box-15"
    "box-16 box-17 box-18 box-19 box-20";
    gap: 10px;
}
.task-23 .the-grid div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.task-24{
    background-color: #eee;
    width: fit-content;
    padding: 20px;
    margin: 10px auto;
}
.task-24 .container{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.task-24 .container .header{
    color: #8c8a88;
    text-transform: capitalize;
    padding: 0;
    margin-bottom: 0;
}
.task-24 .container .num{
    font-weight: bold;
    color: black;
    padding: 0;
    margin-top: 0;
}
.task-24 .container .line{
    position: relative;
    background-color: #ddd;
    width: 600px;
    height: 5px;
}
.task-24 .container .line-1{
    position: absolute;
    width: 500px;
    height: 5px;
    background-color: #2196f3;
}
.task-24 .container .line-2{
    position: absolute;
    width: 350px;
    height: 5px;
    background-color: orange;
}
.task-24 .container .line-3{
    position: absolute;
    width: 450px;
    height: 5px;
    background-color: #4caf50;
}
.task-24 .container .pointer-1{
    position: absolute;
    top: -40px;
    right: 80px;
    width: 38px;
    background-color: #2196f3;
    padding: 3px;
    border-radius: 5px;
    color: white;
}
.task-24 .container .pointer-2{
    position: absolute;
    top: -40px;
    right: 230px;
    width: 38px;
    background-color: orange;
    padding: 3px;
    border-radius: 5px;
    color: white;
}
.task-24 .container .pointer-3{
    position: absolute;
    top: -40px;
    right: 130px;
    width: 38px;
    background-color: #4caf50;
    padding: 3px;
    border-radius: 5px;
    color: white;
}
.task-24 .container .pointer-1::after{
    content: '';
    position: absolute;
    top: 18px;
    left: 14px;
    width: 10px;
    height: 10px;
    rotate: 45deg;
    background-color: #2196f3;
}
.task-24 .container .pointer-2::after{
    content: '';
    position: absolute;
    top: 18px;
    left: 14px;
    width: 10px;
    height: 10px;
    rotate: 45deg;
    background-color: orange;
}
.task-24 .container .pointer-3::after{
    content: '';
    position: absolute;
    top: 18px;
    left: 14px;
    width: 10px;
    height: 10px;
    rotate: 45deg;
    background-color: #4caf50;
}


.task-25{
    background-color: #ddd;
    margin: 10px auto;
    width: 500px;
    height: auto;
    padding: 10px;
}
.task-25 .container{
    background-color: white;
    width: fit-content;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 70px 200px;
    grid-template-areas: 
    "box-1 box-1"
    "box-2 box-3";
    border-radius: 20px;
    margin: 10px auto;
}
.task-25 .container .box-1 h2{
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
}
.task-25 .container .box-1{
    background-color: #2196f3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.task-25 .container .box-2{
    padding: 15px;
}

.task-25 .container .box-2 button, .task-25 .container .box-3 button{
    color: white;
    background-color: #2196f3;
    border-color: transparent;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    margin: 10px;
    display: block;
}
.task-25 .container .box-2 label{
    color: #8c8a88;
    text-transform: capitalize;
}
.task-25 .container .box-3 label{
    color: #8c8a88;
    text-transform: capitalize;
    display: block;
    padding: 15px 0 0 60px;
}
.task-25 .container .box-2 input{
    margin: 10px 0;
    background-color: #eee;
    border-color: #eee;
    border-radius: 5px;
    caret-color: #2196f3;
}